/**
  |============================
  | Variables
  |============================
*/

:root {
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --white: #FFF;
    --cloud: #F4F4FD;
    --slate: #434455;
    --ocean: #404BBF;
}

/**
  |============================
  | Base styles
  |============================
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--slate);
}

button:hover {
    background-color: var(--ocean);
    color: var(--white);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* reset end */

.container{
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

a {
    color: var(--navyblue);
}

a:active {
    color: var(--ocean);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*header*/

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-navigation{
    display: flex;
    align-items: center;
    gap: 76px;
}

.header-container{
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.header-logo-sp {
    color: var(--navyblue);
}

.header-list{
    display: flex;
    gap: 40px;
}

.navigation-link {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0
}

.navigation-link:hover {
    color: var(--ocean);
}

.navigation-link:focus {
    color: var(--ocean);
}

.address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list{
    display: flex;
    gap: 40px;
}

.header-address {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address:hover {
    color: var(--ocean);
}

.header-address:focus {
    color: var(--ocean);
}

/*main*/

.title {
    background-color: var(--navyblue);
    padding: 188px 0;
}

.main-container{
    padding-left: 331px;
    padding-top: 188px;
    padding-bottom: 188px;
    padding-right: 331px;
}

.main-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background: var(--navyblue);
    margin-bottom: 32px;
    max-width: 496px
}

.button {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    display: flex;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
}

.button:focus {
    background-color: var(--ocean);
}

.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-list{
    display: flex;
    gap: 24px;
}

.advantages-list-item{
    width: calc((100% - 72px) / 4)
}

.advantages-list-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-list-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.programs{
    padding-bottom: 120px;
}

.programs-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px
}

.programs-list{
    display: flex;
    gap: 24px;
}

.team {
    background-color: var(--cloud);
    padding: 120px;
    padding-bottom: 120px;
    padding: 120px 0;
}

.team-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    background: var(--cloud);
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
}

.team-container{
    padding: 32px 0;
}

.team-name {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-list-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*footer*/

.footer {
    background-color: var(--navyblue);
    padding: 100px 0;
}

.footer-container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    background-color: var(--navyblue);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-sp {
    color: var(--cloud);
}

.footer-description {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--navyblue);
    margin-top: 18px;
}

/*portfolio*/

.portfolio-button{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-button-list{
    display: flex;
    gap: 48px;
    margin-left: 310px;
    gap: 24px;
}

.portfolio-button-link {
    font-family: 'Roboto', sans-serif;
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--cloud);
    border: none;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    justify-content: center;
}

.portfolio-button-list{
    margin-top: 96px;
    margin-bottom: 72px;
}

.portfolio-button-link:focus {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}

.portfolio-button-link:hover {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}

.img-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.img-list-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.img-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 32px;
}

.img-description {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

.footer-description{
    width: 264px;
}
